@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #e2e8f0;

  --card: #0b1120;
  --card-foreground: #e2e8f0;

  --primary: #8b5cf6;
  --primary-foreground: #ffffff;

  --secondary: #06b6d4;

  --muted: #111827;
  --muted-foreground: #94a3b8;

  --border: rgba(255, 255, 255, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
.container-width {
  @apply mx-auto max-w-7xl;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.04);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(139,92,246,0.5);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(139,92,246,0.8);
}